{{> head }}

    {{> navbar }}
<div class='row'>

    <div class="col-8">  
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat ex rerum mollitia ullam asperiores ducimus, sint enim quod minima iste voluptatibus veniam quibusdam eius nihil recusandae facilis atque accusamus ratione!</p>
    </div>
    <div class="col-4">
        <img src="assets/img/ironman.jpg" class="img-thumbnail">   
    </div>

</div>
{{> footer }}